html, body, #root, .my-profile {
    height: 100%;
}

.my-profile {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner-content {

        text-align: center;
        width: 90%;
        max-width: 700px;

        .content {
            position: relative;
            line-height: 30px;
        }

        .my-picture {
            width: 186px;
            height: 186px;
            border-radius: 50%;
            background-image: url(/assets/images/me.jpg);
            background-size: cover;
            margin: 0 auto;
        }

        .date-show {
            font-weight: bold;
        }

        .full-date {
            font-weight: bold;
            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            &.active {
                display: block;
            }
        }

        .links {
            a {
                color: #CCC;
                font-size: 31px;
                margin: 0 10px;
            }
        }
    }
}